<p>
  <strong>Username:</strong>
  <%= @interest.screen_name %>
</p>
 
<p>
  <strong>Hashtags:</strong>
  <%= @interest.hashtags %>
</p>

<p>
  <strong>User mentions:</strong>
  <%= @interest.user_mentions %>
</p>




<h4>here are <%= @interest.screen_name %>'s latest tweets based on your hashtags: </h4>
<ul>
        <% TwitterApi.get_user_tweets(@interest.screen_name).each do |tweet|%>
        <% if @interest.hashtags.split(" ").any? { |hashtag| tweet.text.downcase().include?(hashtag.downcase() + " ") }  %>
          <li><%= parsed_tweet tweet%></li>
          <% end %>
        <% end %>
</ul>

<h4>and here are<%= @interest.screen_name %>'s latest tweets based on your user mentions: </h4>

<ul>
        <% TwitterApi.get_user_tweets(@interest.screen_name).each do |tweet|%>
        <% if @interest.user_mentions.split(" ").any? { |user| tweet.text.downcase().include?(user.downcase()) }  %>
          <li><%= parsed_tweet tweet%></li>
          <% end %>
        <% end %>
</ul>
<%= link_to 'Edit', edit_interest_path(@interest) %> |
<%= link_to 'Back', interests_path %>